<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#f4f5f6">
		<meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="http://www.d4me.com/">
		<meta name="description" content="">
		<title>D4ME</title>
		<link rel="canonical" href="http://www.d4me.com/">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="icon" href="/img/logo.svg">
	</head>
	<body id="app">
	<main class="wrapper">

      <!--home-->
      <div id="home">
      <nav class="navigation main toolbar header">
				<section class="row">
				<a @click="sidemenu" class="three columns navigation-link">
        <img src="/icon/menu-icon.svg"></a>
				<a class="six   columns navigation-link" href="#show-menu">
        <img src="/icon/logo-d4me.svg"></a>
				<a @click="searchbar" class="three columns navigation-link">
        <img src="/icon/search-icon.svg"></a>
				</section>
			</nav>

			<section class="container content row" id="products">
				<div v-for="item in products" track-by="id" class="item six columns " > 
			        <img src="/icon/like-full-icon.svg" class="like">
			        <a  @click="remix"><img src=http://dev.d4me.com{{item.image}} class="product"></a>
			            <a @click="productinfo"><img src="/icon/proinfo.svg" class="info"></a>
							<div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}
							</span> </div> </div>
			
			</section>

		 	<a @click="shopcart"><section class="cart-icon"></section></a>

			<nav class="navigation main toolbar footer">
		  <a  @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a  @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
			</nav>
      </div>

     <!--remix-->
      <div id="remix">
     <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" @click="home">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="#show-menu"><img src="/icon/share.svg"></a>
        </section>
      </nav>

         <section class="topic">
         <div v-for="item in mixes" track-by="id" class="item twelve columns">
         <img src=http://dev.d4me.com{{item[i].image}} class="theme">
         <div class="text"> 
         {{ item[i].title }}<img src="/icon/like-full-icon.svg" class="like">
         <br>
         <span>{{ item[i].text }}</span>
         </div>
         </div>
      </section>
      </div>



    <!--productinfo-->
      <div id="productinfo">
     <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link"  @click="home">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="#show-menu"><img src="/icon/share.svg"></a>
        </section>
      </nav>

        <section v-for="item in product" track-by="id" class="products" >
         <div class="item twelve columns "> 
               <img src=http://dev.d4me.com{{item.image}} class="theme"> 
               <a @click="remix"><img src="/icon/remix.svg" class="remix"></a>
               <div class="text"> 
               {{ item.title }}<img src="/icon/like-full-icon.svg" class="like">
               <br>
              <span>￥{{ item.price }}</span> 
               </div>
          </div> 
           <div class="sku twelve columns "> 
               <div class="text"> 
               {{ item.brand }}
               <br>
               {{ item.size }}
               </div>
          </div> 
           <div class="info"> 
            {{ item.intro }}
           </div>
        </section>
       <section class="container content row" style="margin-top: -2%">
        <div v-for="item in items" track-by="id" class="item six columns "> <img src="/icon/like-full-icon.svg" class="like"> <img src={{item.image}} class="product"><img src="/icon/close-icon.svg" class="info"> 
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
       </section>
      <a @click="shopcart"><section class="cart-icon"></section></a>
      <nav class="navigation main login toolbar footer">
        <div class="row">
          <a class="four columns navigation-link wechat-button" href="shopcart.html"><img src="/icon/cart+add.svg"></a>
          <a class="eight columns navigation-link login-button" href="payorder.html">立即购买</a>
        </div>
      </nav>
      </div>


  <!--tiopic-->
    <div id="topic">
     <nav class="navigation main toolbar header">
       <section class="row">
        <a @click="sidemenu" class="three columns navigation-link">
        <img src="/icon/menu-icon.svg"></a>
        <a class="six   columns navigation-link" href="#show-menu">
        <img src="/icon/logo-d4me.svg"></a>
        <a @click="searchbar" class="three columns navigation-link">
        <img src="/icon/search-icon.svg"></a>
        </section>
      </nav>

     <section class="topic">
         <a @click="topicinfo">
         <div v-for="item in articles" track-by="id" class="item twelve columns">
         <img src=http://dev.d4me.com{{item.image}} class="theme"> 
         <div class="text"> 
         {{ item.title }}<img src="/icon/like-full-icon.svg" class="like">
         <br>
         <span>{{ item.text }}</span>
         </div>
         </div>
         </a>
      </section>
	  <a @click="shopcart"><section class="cart-icon"></section></a>

	   <nav class="navigation main toolbar footer">
      <a  @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a  @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a  @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
      </nav>
   </div>

    <!--topicinfo-->
    <div id="topicinfo">
     <nav class="navigation main toolbar header">
        <section class="row">
          <a @click="topic" class="three columns navigation-link" >
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="#show-menu"><img src="/icon/share.svg"></a>
        </section>
      </nav>

        <section class="topic">
          <div class="detailhead"> 
            <div class="text"> {{ item.title }}
            <br>
            <span> 
              {{ item.date }}</span>
         </div>
         </div>
          <div class="info"> 
          {{ item.text }}
           </div>
        <hr class="hrline"/> 
        <div class="footer">
        <div class="text">阅读量 {{ item.date }}<img src="/icon/like-full-icon.svg" class="like"></div>
       </div>
        <hr class="hrline"/>
       <div class="about">相关单品</div>
      </section>

      <section class="container content row" id="product" style="margin-top: -2%">
        <div v-for="item in items" track-by="id" class="item six columns " onclick="window.location.href='/productinfo.html'"> <img src="/icon/like-full-icon.svg" class="like"> <img src={{item.image}} class="product"><img src="/icon/proinfo.svg" class="info"> 
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
      </section>
   </div>
    

    <!--myprofile-->
   <div id="myprofile">
         <nav class="navigation main toolbar header">
        <section class="row">
        <a @click="sidemenu" class="three columns navigation-link">
        <img src="/icon/menu-icon.svg"></a>
        <a class="six   columns navigation-link" href="#show-menu">
        <img src="/icon/logo-d4me.svg"></a>
        </section>
      </nav>
      <section class="container content">
     <div class="menutitlethumb">
        <img src="/img/cat-head.svg">
      </div>
      <p class="profiled4me">DRESS FOR ME</p>
      <p class="profiled4me2">DRESS FOR ME</p>
      <br>
      <div class="profilenickname">{{ item.username }}</div>
      <img src="/icon/cashvoucher.svg" class="cashvouchericon">
      <p class="cashvouchernum">2</p>
      <br>
      <div class="cashvouchername" >代金券</div>
      <br>
      </section>
      <hr class="hrline"/>
      <div class="profiletab">
          <a @click="myfavor"><div class="four columns"><p class="h7">我的收藏</p></div></a>
          <a @click="myorders"><div class="four columns"><p class="h7">我的订单</p></div></a>
          <a @click="myshopcart"><div class="four columns"><p class="h7">我的购物车</p></div></a>
        </div>
      <div id="myfavor">
      <section class="container content row">
        <div v-for="item in products" track-by="id" class="item six columns "> 
        <img src="/icon/like-full-icon.svg" class="like">
        <a href="./remix"> <img src=http://dev.d4me.com{{item.image}} class="product"></a>
        <a href="product"><img src="/icon/proinfo.svg" class="info"></a>
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
      </section>
      </div>
       <div id="myorders">
         <div class="ordertab" style="margin-top: 15%;margin-left: 10%;width: 100%;">
          <a @click="myorders"><div class="three columns"><p class="h7">全部</p></div></a>
          <a @click="Payment"><div class="three columns"><p class="h7">待付款</p></div></a>
          <a @click="receipt"><div class="three columns"><p class="h7">待收货</p></div></a>
          <a @click="finish"><div class="three columns"><p class="h7">已完成</p></div></a>
        </div>
       <section class="order">
         <a @click="payorder">
         <div v-for="item in orders" track-by="id" class="item twelve columns">
         <!--<img src=http://dev.d4me.com{{item.image}} class="theme"> -->
         -<img src=http://dev.d4me.com/uploads/product/image/1/BGV26XV_mz__1_.png 
          style="width: 40%;height: 40%"class="theme">
         <div class="text"> 
         {{ item.title }}3123
         <br>
         <span>{{ item.text }}312321</span>
         </div>
         </div>
         </a>
      </section>
      </div>
       <div id="myshopcart">
         <section class="container content">
          <div class="shopcartinfo twelve columns"> 
         <span class="shopcartinfo-delicon">  </span>
         <img src=http://dev.d4me.com{{item.image}}>
         <div class="shopcartinfotext">{{item.title}}/{{item.labels}}/{{item.size}} </div>
         <span class="shopcartinfo-add"> </span>
         <span class="shopcartinfo-subtract"> - </span>

         <p class="shopcartinfoprice">￥{{ item.price }}</p>
         </div>
        
      </section>
      </div>
      
      <nav class="navigation main toolbar footer">
      <a @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
      </nav>
    </div>


   <!--sidemenu-->
   <div id="sidemenu">
       <nav class="navigation main toolbar header">
        <section class="row">
          <a @click="home" class="three columns navigation-link"><img src="/icon/menu-icon.svg"></a>
          <a class="six   columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="search-bar.html"><img src="/icon/search-icon.svg"></a>
        </section>
      </nav>

      <nav class="navigation side-menu">
      <div class="thumb">
        <img src="/img/cat-head.svg">
      </div>
      <div class="username">{{ item.username }}</div>
      <ul>
        <li> <a @click="profileinfo">个人信息</a></li>
        <li @click="shoppingnotice">购物说明</li>
        <li @click="contactus">联系我们</li>
        <li @click="logout">退出账户</li>
      </ul>
      </nav>

      <section class="container content ">
        <div v-for="item in products" track-by="id" class="item six columns "> <img src="/icon/like-full-icon.svg" class="like"> <img src=http://dev.d4me.com{{item.image}} class="product"><img src="/icon/proinfo-icon.svg" class="info"> 
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
      </section>

      <section class="cart-icon"></section>

     <nav class="navigation main toolbar footer">
      <a @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
      </nav>
    </div>
    

    <!--profileinfo-->
   <div id="profileinfo">
       <nav class="navigation main toolbar header">
        <section class="row">
          <a @click=sidemenu class="three columns navigation-link" >
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">个人信息 </h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

    <section class="container content">
     <div class="menutitlethumb">
        <img src="/img/cat-head.svg"><p class="menud4me">昵称</p>
      </div>
      <div class="menunickname">{{ item.username }}</div>
      <br>
       <hr class="hrline"/>
       <h6 class="menutitle"><img src="/icon/phone.svg" class="menuicon" >手机
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a  @click=phoneinfo><img src="/icon/arrow+2.svg" class="menuright" ></a></h6>
       <hr class="hrline"/>
      <h6 class="menutitle"><img src="/icon/inbox.svg" class="menuicon" >收货信息
       <a  @click=deliveredinfo><img src="/icon/arrow+2.svg" class="menuright" ></a></h6>
       <hr class="hrline"/>
      </section>
    </div>


    <!--deliveredinfo-->
   <div id="deliveredinfo">
      <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="side-menu.html" onclick="window.history.go(-1);window.location.reload()">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">收货信息</h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>
       
        <section class="container content">
        <div class="deliveredinfobtn twelve columns "> 
         <a @click=deliveredinfoadd><div class="deliveredinfobtntext">+ &nbsp;&nbsp;添加</div></a>
         </div>
         <br>
         &nbsp;
         <br>
         &nbsp;
         <h6 class="delivereddefault">默认地址</h6>
         <div v-for="item in addresses" track-by="id"  class="deliveredinfo twelve columns "> 
         <div class="deliveredinfotext">{{ item.name }} {{ item.phone }}</div>
         <img src="/icon/edit.svg" class="deliveredinfo-editicon">
         <img src="/icon/delete.svg" class="deliveredinfo-delicon">
         <p class="deliveredinfoaddress">{{ item.country }}{{ item.province }}{{ item.city }}{{ item.street }}</p>
         </div>
         
      </section>
    </div>

     <!--deliveredinfodetail-->
   <div id="deliveredinfodetail">
      <nav class="navigation main toolbar header">
        <section class="row">
          <a @click=deliveredinfo class="three columns navigation-link">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">收货地址 </h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

    <section class="container content">
   <div class="delivered-detailtitle">
    <h6>收件人 
    <br>
    <span class="delivered-detailinput">13916989623</span></h6>
    <hr class="hrline"/>
    <br>
    <h6>收件人手机
    <br>
    <span class="delivered-detailinput">13916333333</span></h6>
    <hr class="hrline"/>
    <br>
    <h6>收件人地址
     <br>
     <span class="delivered-detailinput">222</span>
     <br>
    <span class="delivered-detailinput">3123sfddddddddd</span></h6>
    </div>
     </section>
    <nav class="navigation main login toolbar footer">
        <div class="row">
          <a @click=deliveredinfodetail class="twelve columns navigation-link login-button" >确认修改</a>
        </div>
      </nav>
    </div>



     <!--shoppingnotice-->
   <div id="shoppingnotice">
      <nav class="navigation main toolbar header">
        <section class="row">
          <a @click=sidemenu class="three columns navigation-link">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">购物说明</h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

    <section class="container content">
       <h5 class="noticetitle">正品保障</h5>
       <h6 class="noticedesc">D4ME目前与几十家时尚品牌和买手店建立合作，所销售的产品均为正品保障</h6>
       <h5 class="noticestitle">退换货说明</h5>
       <h6 class="noticedesc">非质量问题，不接受退货哦<br>
       <br>
                  如果出现尺码不合，请在签收后48小时内在D4ME微信后台回复【呼唤客服】联系客服，我们将为您更换同款不同码的商品<br>
                   <br>
                  退回的商品必须无破损，无污渍，无穿着或者使用痕迹。请保留吊牌完整，并用原包装退回 </h6>
      </section>
      <hr class="hrline"/>
     <section class="container content login">
        <img src="/icon/biglogo-icon.svg" class="contenlogo">
      </section>
    </div>


     <!--contactus-->
   <div id="contactus">
       <nav class="navigation main toolbar header">
        <section class="row">
          <a @click=sidemenu class="three columns navigation-link">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">联系我们</h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

    <section class="container content">
       <h5 class="noticetitle">联系客服</h5>
       <h6 class="noticedesc">如果你已经关注了D4ME的微信公众号,请在后台直接留言,我们将已你想象不到的速度回复你!</h6>
       <h5 class="noticestitle">其他合作</h5>
       <h6 class="noticedesc">请联系<br>service@d4me.com</h6>
      </section>
      <hr class="hrline"/>
     <section class="container content login">
        <img src="/icon/biglogo-icon.svg" class="contenlogo">
      </section>
    </div>



     <!--payorder-->
     <div id="payorder">
       <nav class="navigation main toolbar header">
        <section class="row">
          <a @click="myprofile" class="three columns navigation-link" >
          <img src="/icon/arrow-icon.svg" ></a>
           <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">我的订单</h5></a>
           <a class="three columns navigation-link" href="#"><img src="/icon/delete.svg"></a>
        </section>
      </nav>
       <section class="container content row" >

         <span class="shopcartinfo-check"></span>
         <div class="shopcartinfo twelve columns " > 
         <img src="http://dev.d4me.com/uploads/product/image/23/Screen_Shot_2016-03-04_at_5.12.00_PM.png" class="shopcartinfo-img">
         <div class="shopcartinfotext">XX  外套  颜色 尺码 </div>
         <p class="shopcartinfoprice">￥ 5000</p>
         </div>

          <div class="shopcartinfo twelve columns "> 
         <img src="http://dev.d4me.com//uploads/product/image/22/Screen_Shot_2016-03-04_at_5.02.39_PM.png" class="shopcartinfo-img">
         <div class="shopcartinfotext">XX  外套  颜色 尺码 </div>
         <p class="shopcartinfoprice">$ 5000</p>
         </div>  

         <div class="deliveredinfo twelve columns " style="margin-top: 10%"> 
         <div class="deliveredinfotext">mac pro 1233123123123</div>
         <img src="/icon/edit.svg" class="deliveredinfo-editicon">
         <img src="/icon/delete.svg" class="deliveredinfo-delicon">
         <p class="deliveredinfoaddress">上海市长宁区XXX</p>
         </div>
      </section>

     <nav class="navigation main login toolbar footer">
        <div class="row">
          <a @click="payorders"  class="twelve columns navigation-link login-button" >去支付</a>
        </div>
      </nav>
      </div>

     <!--shopcart-->
     <div id="shopcart">
      <nav class="navigation main toolbar header">
        <section class="row">
          <a  @click="sidemenu" class="three columns navigation-link" href="side-menu.html">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">购物车</h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

   
        <section class="container content">
          <div class="shopcartinfo twelve columns"> 
         <span class="shopcartinfo-delicon">  </span>
         <img src=http://dev.d4me.com{{item.image}}>
         <div class="shopcartinfotext">{{item.title}}/{{item.labels}}/{{item.size}} </div>
         <span class="shopcartinfo-add"> </span>
         <span class="shopcartinfo-subtract"> - </span>

         <p class="shopcartinfoprice">￥{{ item.price }}</p>
         </div>
        
      <nav class="navigation main login toolbar footer">
        <div class="row">
          <a class="six columns navigation-link total-button" href="#">合计￥ 0.00</a>
          <a @click="createorders" class="six columns navigation-link login-button" >提交订单</a>
        </div>
      </nav>
      </div>

     <!--login-->
     <div id="login">
      <nav class="navigation main login toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="#show-menu"><img src="/icon/arrow-icon.svg"></a>
        </section>
      </nav>

      <section class="container content login">
        <img src="/icon/biglogo-icon.svg" class="logo">
      </section>

      <nav class="navigation main login toolbar footer">
        <div class="row">
          <a  href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5b486ab603b7f0a7&redirect_uri=http%3A%2F%2Fdev.d4me.com%2Fapi%2Fv1%2Fusers%2Fwx_login_code&response_type=code&scope=snsapi_base&connect_redirect=1#wechat_redirect'  class="four columns navigation-link wechat-button"><img src="/icon/wechat-icon.svg"></a>
          <!--  <div> {{ auth_token }} </div>
                  <div> {{ message }} </div>
                  <div> {{ user.username }} </div>-->
              <a href='https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx5b486ab603b7f0a7&redirect_uri=http%3A%2F%2Fdev.d4me.com%2Fapi%2Fv1%2Fusers%2Fwx_login_code&response_type=code&scope=snsapi_base&connect_redirect=1#wechat_redirect'  class="eight columns navigation-link login-button" >登录</a>
        </div>
      </nav>
      </div>
		</main>
  <script src="js/pingpp.js"></script> 
	<script src="js/fetch.js"></script>	
	<script src="build.js"></script>
	</body>
</html>
