<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="theme-color" content="#f4f5f6">
		<meta name="apple-mobile-web-app-status-bar-style" content="#f4f5f6">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="author" content="http://www.d4me.com/">
		<meta name="description" content="">
		<title>D4ME</title>
		<link rel="canonical" href="http://www.d4me.com/">
		<link rel="stylesheet" href="/css/normalize.css">
		<link rel="stylesheet" href="/css/skeleton.css">
		<link rel="stylesheet" href="/css/app.css">
		<link rel="icon" href="/img/logo.svg">
	</head>
	<body id="app">
	<main class="wrapper">

      <!--home-->
      <div id="home">
      <nav class="navigation main toolbar header">
				<section class="row">
				<a @click="sidemenu" class="three columns navigation-link">
        <img src="/icon/menu-icon.svg"></a>
				<a class="six   columns navigation-link" href="#show-menu">
        <img src="/icon/logo-d4me.svg"></a>
				<a @click="searchbar" class="three columns navigation-link">
        <img src="/icon/search-icon.svg"></a>
				</section>
			</nav>

			<section class="container content row" id="products">
				<div v-for="item in products" track-by="id" class="item six columns " > 
			        <img src="/icon/like-full-icon.svg" class="like">
			        <a href="./remix"><img src=http://dev.d4me.com{{item.image}} class="product"></a>
			            <a href="./product"><img src="/icon/proinfo.svg" class="info"></a>
							<div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}
							</span> </div> </div>
			
			</section>

		 	<a @click="shopcart"><section class="cart-icon"></section></a>

			<nav class="navigation main toolbar footer">
		  <a  @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a  @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
			</nav>
      </div>

    <!--home-->
      <div id="productinfo">
     <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="side-menu.html" onclick="window.history.go(-1);window.location.reload()">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="#show-menu"><img src="/icon/share.svg"></a>
        </section>
      </nav>

        <section class="products">
         <div class="item twelve columns "> 
               <img src="http://dev.d4me.com/uploads/product/image/23/Screen_Shot_2016-03-04_at_5.12.00_PM.png" class="theme"> 
               <img src="/icon/remix.svg" class="remix" onclick="window.location.href='/remix.html'">
               <div class="text"> 
               {{ item.title }}<img src="/icon/like-full-icon.svg" class="like">
               <br>
              <span>￥{{ item.price }}</span> 
               </div>
          </div> 
           <div class="sku twelve columns "> 
               <div class="text"> 
               {{ item.brand }}
               <br>
               {{ item.size }}
               </div>
          </div> 
           <div class="info"> 
            {{ item.intro }}
           </div>
        </section>
       <section class="container content row" id="product" style="margin-top: -2%">
        <div v-for="item in items" track-by="id" class="item six columns "> <img src="/icon/like-full-icon.svg" class="like"> <img src={{item.image}} class="product"><img src="/icon/close-icon.svg" class="info"> 
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
       </section>
      <a @click="shopcart"><section class="cart-icon"></section></a>
      <nav class="navigation main login toolbar footer">
        <div class="row">
          <a class="four columns navigation-link wechat-button" href="shopcart.html"><img src="/icon/cart+add.svg"></a>
          <a class="eight columns navigation-link login-button" href="payorder.html">立即购买</a>
        </div>
      </nav>
      </div>


  <!--tiopic-->
    <div id="topic">
     <nav class="navigation main toolbar header">
       <section class="row">
        <a @click="sidemenu" class="three columns navigation-link">
        <img src="/icon/menu-icon.svg"></a>
        <a class="six   columns navigation-link" href="#show-menu">
        <img src="/icon/logo-d4me.svg"></a>
        <a @click="searchbar" class="three columns navigation-link">
        <img src="/icon/search-icon.svg"></a>
        </section>
      </nav>

     <section class="topic">
         <a @click="topicinfo">
         <div v-for="item in articles" track-by="id" class="item twelve columns">
         <img src=http://dev.d4me.com{{item.image}} class="theme"> 
         <div class="text"> 
         {{ item.title }}<img src="/icon/like-full-icon.svg" class="like">
         <br>
         <span>{{ item.text }}</span>
         </div>
         </div>
         </a>
      </section>
	  <a @click="shopcart"><section class="cart-icon"></section></a>

	   <nav class="navigation main toolbar footer">
      <a  @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a  @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a  @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
      </nav>
   </div>

    <!--topicinfo-->
    <div id="topicinfo">
     <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="side-menu.html" onclick="window.history.go(-1);window.location.reload()">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="#show-menu"><img src="/icon/share.svg"></a>
        </section>
      </nav>

        <section class="topic">
          <div class="detailhead"> 
            <div class="text"> {{ item.title }}
            <br>
            <span> 
              {{ item.date }}</span>
         </div>
         </div>
          <div class="info"> 
          {{ item.text }}
           </div>
        <hr class="hrline"/> 
        <div class="footer">
        <div class="text">阅读量 {{ item.date }}<img src="/icon/like-full-icon.svg" class="like"></div>
       </div>
        <hr class="hrline"/>
       <div class="about">相关单品</div>
      </section>

      <section class="container content row" id="product" style="margin-top: -2%">
        <div v-for="item in items" track-by="id" class="item six columns " onclick="window.location.href='/productinfo.html'"> <img src="/icon/like-full-icon.svg" class="like"> <img src={{item.image}} class="product"><img src="/icon/proinfo.svg" class="info"> 
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
      </section>
   </div>
    

    <!--myprofile-->
   <div id="myprofile">
         <nav class="navigation main toolbar header">
        <section class="row">
        <a @click="sidemenu" class="three columns navigation-link">
        <img src="/icon/menu-icon.svg"></a>
        <a class="six   columns navigation-link" href="#show-menu">
        <img src="/icon/logo-d4me.svg"></a>
        </section>
      </nav>
      <section class="container content">
     <div class="menutitlethumb">
        <img src="/img/cat-head.svg">
      </div>
      <p class="profiled4me">DRESS FOR ME</p>
      <p class="profiled4me2">DRESS FOR ME</p>
      <br>
      <div class="profilenickname">{{ item.username }}</div>
      <img src="/icon/cashvoucher.svg" class="cashvouchericon">
      <p class="cashvouchernum">2</p>
      <br>
      <div class="cashvouchername" >代金券</div>
      <br>
      </section>
      <hr class="hrline"/>
      <div class="profiletab">
          <a @click="myfavor"><div class="four columns"><p class="h7">我的收藏</p></div></a>
          <a @click="myorders"><div class="four columns"><p class="h7">我的订单</p></div></a>
          <a @click="myshopcart"><div class="four columns"><p class="h7">我的购物车</p></div></a>
        </div>
      <div id="myfavor">
      <section class="container content row">
        <div v-for="item in products" track-by="id" class="item six columns "> 
        <img src="/icon/like-full-icon.svg" class="like">
        <a href="./remix"> <img src=http://dev.d4me.com{{item.image}} class="product"></a>
        <a href="product"><img src="/icon/proinfo.svg" class="info"></a>
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
      </section>
      </div>
       <div id="myorders">
        <div class="ordertab">
          <a @click="myorders"><div class="three columns"><p class="h7">全部</p></div></a>
          <a @click="Payment"><div class="three columns"><p class="h7">待付款</p></div></a>
          <a @click="receipt"><div class="three columns"><p class="h7">待收货</p></div></a>
          <a @click="finish"><div class="three columns"><p class="h7">已完成</p></div></a>
        </div>
       <a href="./topicdetail">
         <div v-for="item in orders" track-by="id" class=" twelve columns"> 
        <!-- <img src=http://dev.d4me.com{{item.image}}>
         <div class="shopcartinfotext">{{item.title}}/{{item.labels}}/{{item.size}} </div>
         <span class="shopcartinfo-add"> </span>
         <span class="shopcartinfo-subtract"> - </span>

         <p class="shopcartinfoprice">￥{{ item.final_price }}</p>
        -->
        </div>
         </a>
      </div>
       <div id="myshopcart">
         <section class="container content">
          <div class="shopcartinfo twelve columns"> 
         <span class="shopcartinfo-delicon">  </span>
         <img src=http://dev.d4me.com{{item.image}}>
         <div class="shopcartinfotext">{{item.title}}/{{item.labels}}/{{item.size}} </div>
         <span class="shopcartinfo-add"> </span>
         <span class="shopcartinfo-subtract"> - </span>

         <p class="shopcartinfoprice">￥{{ item.price }}</p>
         </div>
        
      </section>
      </div>
      
      <nav class="navigation main toolbar footer">
      <a @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
      </nav>
    </div>


   <!--sidemenu-->
   <div id="sidemenu">
       <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="side-menu.html"><img src="/icon/menu-icon.svg"></a>
          <a class="six   columns navigation-link" href="#show-menu"><img src="/icon/logo-d4me.svg"></a>
          <a class="three columns navigation-link" href="search-bar.html"><img src="/icon/search-icon.svg"></a>
        </section>
      </nav>

      <nav class="navigation side-menu">
      <div class="thumb">
        <img src="/img/cat-head.svg">
      </div>
      <div class="username">{{ item.username }}</div>
      <ul>
        <li> <a @click="profileinfo">个人信息</a></li>
        <li onclick="window.location.href='/shoppingnotice.html'">购物说明</li>
        <li onclick="window.location.href='/contactus.html'">联系我们</li>
        <li onclick="window.location.href='/wx-login.html'">退出账户</li>
      </ul>
      </nav>

      <section class="container content ">
        <div v-for="item in products" track-by="id" class="item six columns "> <img src="/icon/like-full-icon.svg" class="like"> <img src={{item.image}} class="product"><img src="/icon/close-icon.svg" class="info"> 
        <div class="text"> <div>{{ item.title }}</div><span>￥{{ item.price }}</span> </div> </div>
      </section>

      <section class="cart-icon"></section>

     <nav class="navigation main toolbar footer">
      <a @click="home" class="four columns navigation-link">
      <img src="/icon/homepage-icon.svg"></a>
      <a @click="topic" class="four columns navigation-link">
      <img src="/icon/article-icon.svg"></a>
      <a @click="myprofile" class="four columns navigation-link" >
      <img src="/icon/personal-icon.svg"></a>
      </nav>
    </div>
    

    <!--sidemenu-->
   <div id="profileinfo">
       <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="side-menu.html" onclick="window.history.go(-1);window.location.reload()">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">个人信息 </h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

    <section class="container content">
     <div class="menutitlethumb">
        <img src="/img/cat-head.svg"><p class="menud4me">昵称</p>
      </div>
      <div class="menunickname">{{ item.username }}</div>
      <br>
       <hr class="hrline"/>
       <h6 class="menutitle"><img src="/icon/phone.svg" class="menuicon" >手机
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <img src="/icon/arrow+2.svg" class="menuright" onclick="window.location.href='/phoneinfo.html'"></h6>
       <hr class="hrline"/>
      <h6 class="menutitle"><img src="/icon/inbox.svg" class="menuicon" >收货信息
      <img src="/icon/arrow+2.svg" class="menuright" onclick="window.location.href='/deliveredinfo.html'"></h6>
       <hr class="hrline"/>
      </section>
    </div>



     <!--shopcart-->
     <div id="shopcart">
      <nav class="navigation main toolbar header">
        <section class="row">
          <a class="three columns navigation-link" href="side-menu.html" onclick="window.history.go(-1);window.location.reload()">
          <img src="/icon/arrow-icon.svg" ></a>
          <a class="six columns navigation-link" href="#show-menu"> <h5 class="pagetitle">购物车</h5></a>
          <a class="three columns navigation-link" href="#show-menu"></a>
        </section>
      </nav>

   
        <section class="container content">
          <div class="shopcartinfo twelve columns"> 
         <span class="shopcartinfo-delicon">  </span>
         <img src=http://dev.d4me.com{{item.image}}>
         <div class="shopcartinfotext">{{item.title}}/{{item.labels}}/{{item.size}} </div>
         <span class="shopcartinfo-add"> </span>
         <span class="shopcartinfo-subtract"> - </span>

         <p class="shopcartinfoprice">￥{{ item.price }}</p>
         </div>
        
      <nav class="navigation main login toolbar footer">
        <div class="row">
          <a class="six columns navigation-link total-button" href="#">合计￥ 0.00</a>
          <a class="six columns navigation-link login-button" href="submitorder.html">提交订单</a>
        </div>
      </nav>
      </div>
		</main>
	<script src="js/fetch.js"></script>	
	<script src="/build.js"></script>
	</body>
</html>
